<script src="{{ "js/jquery/3.6.1/jquery.min.js" | relURL }}" ></script>
<script src="{{ "js/feather-icons/4.29.0/feather.min.js" | relURL }}" ></script>
<script src="{{ "js/fresh.js" | relURL }}"></script>
<script src="{{ "js/jquery.panelslider.min.js" | relURL }}"></script>
<script src="{{ "js/modernizr/2.8.3/modernizr.min.js" | relURL }}" ></script>
<script src="{{ "js/survey-jquery/1.9.55/survey.jquery.min.js" | relURL }}" ></script>
<script src="{{ "js/showdown/2.1.0/showdown.min.js" | relURL }}" ></script>