.rbc-calendar {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

.rbc-day-bg+.rbc-today {
    border-top: 4px solid #742774;
}

.rbc-header {
    font-weight: lighter;
}

.rbc-event {
    /*border-left: 4px solid #742774;*/
    border-radius: 4px;
}

.rbc-event-content {
    font-weight: normal;
    font-size: 12px;
}

div.rbc-date-cell>button.rbc-button-link {
    font-weight: lighter !important;
    font-size: 12px;
}

.rbc-show-more {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.rbc-agenda-content,
.rbc-time-content {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: lighter !important;
    font-size: 14px;
}

.rbc-header>.rbc-button-link {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: lighter !important;
    font-size: 14px !important;
}

.rbc-agenda-view {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight: lighter !important;
    font-size: 14px !important;
}

.rbc-event-label {
    display: none !important;
}

.rbc-events-container {
    display: flex;
}

.rbc-event {
    white-space: nowrap;
    width: 100%;
}