{{ $slides := .Get "slides" }}
{{ $audioNotAvailable := $.Site.Params.audioNotAvailable }}
{{ $fullScreen := $.Site.Params.fullScreen }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/reveal.min.css" integrity="sha512-A5PKBHoJQHdKjxpwyV+VhMsK7L3MMV1Ch2++rS0bn3xX8+5qJb3WpPvwJH1eqb6iMRtotfiOO7Jhl1qQ02Rwuw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/theme/white.min.css" integrity="sha512-RoEy1xOWgzryoplQ1g0eNHizP2BRqEq8eLGpRyI6OvM2FvmxpUyiPotvW4rp/I67VN6eFq4DDXQNcFKbNZ5Rrg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/reveal.js" integrity="sha512-y2j3xEERQApzRH8Rl1bPspQks1/wEsJ8P0pcNQdq7L+G3tT+U5wFjKoxwQNePdnvarg/zamz05jlHDlB5IAeXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.4.0/plugin/notes/notes.min.js" integrity="sha512-zT7Fnv76+94Gjt8yB3Y5zxJrfhA9BLafFepaO2ywAhKnPIrj/HWEmQqybnop+Z6h1St1QlQwiddrsPial8AjJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
    .reveal-wrap {
       

        height: 800px;
        width: 100%;

        max-height: 95vh;
        max-width: 95vw;

        overflow: hidden;

        margin-bottom: 20px;
    }

    .slides {
        section {
            img {
                max-width: 100vmin;
                max-height: 80vmin;
            }
        }
    }
</style>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-4">
            <audio id="slideAudio" controls="controls" style="height:50px">
                <source src="" type="audio/mpeg">
            {{ $audioNotAvailable }}
            </audio>
        </div>

        <div class="col-4 text-right">
            <fluent-button id="fullScreen" appearance="accent">
                {{ $fullScreen }}
            </fluent-button>
        </div>
    </div>
</div>

<div class="reveal-wrap">
<div class="reveal">
    <div class="slides">
    {{range split $slides ","}}
    <section id="slide-{{.}}"></section>
    {{end}}
    </div>
</div>
</section>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        let slides = {{ $slides }}.split(",")
        slides.forEach(element => {
            $("#slide-" + element).append($("#slide" + element).html());
        })

        Reveal.initialize({
            slideNumber: true,
            overview: false,
            center: true,
            touch: true,
            fragments: true,
            embedded: true,
            help: true,
            autoSlide: 0,
            autoSlideStoppable: true,
            mouseWheel: false,
            hideAddressBar: true,
            previewLinks: false,
            transition: 'slide',
            backgroundTransition: 'slide',
            viewDistance: 3,
            margin: 0.1,
            width: '100%',
            showNotes: true,
            plugins: [ RevealNotes ]
            })
        
        $("#slideAudio").attr('src', $("#slide" + slides[0]).attr("data-audio"))

        Reveal.addEventListener( 'slidechanged', event => {
            $('audio').each(function(){
                this.pause(); // Stop playing
                this.currentTime = 0; // Reset time
            }); 
            try {
                $("#slideAudio").attr('src', $("#slide" + slides[event.indexh]).attr("data-audio"))
            } catch {

            }
            
        } );

        $("#fullScreen").on("click", () => {
            var container = $("div.container")
            if ( container.length == 0 ) {
                container = $("div.container-fluid")
                container.removeClass("container-fluid")
                container.addClass("container")
            } else {
                container.removeClass("container")
                container.addClass("container-fluid")
            }
            $(".reveal").toggleClass("fullscreen");
            $(".optional").toggleClass("fullscreen");
            $("nav > .container").toggleClass("fullscreen");
            $("nav.navbar").toggleClass("fullscreen");
            $(".section.is-medium").toggleClass("fullscreen");
        });
    });
</script>