{{ $slides := .Get "slides" }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.min.css" integrity="sha512-V5fKCVKOFy36w8zJmLzPH5R6zU6KvuHOvxfMRczx2ZeqTjKRGSBO9yiZjCKEJS3n6EmENwrH/xvSwXqxje+VVA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/white.min.css" integrity="sha512-0BwgQfciYCCQc2rKINa7wL2k5vGAjF5dyL90A598QMimsVDie6M/4ShOLG07HJpNtSc9JB6m2s9B9OGam3rmTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.min.js" integrity="sha512-QYXU3Cojl94ZRiZRjUZpyg1odj9mKTON9MsTMzGNx/L3JqvMA3BQNraZwsZ83UeisO+QMVfFa83SyuYYJzR9hw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/notes/notes.min.js" integrity="sha512-7DEMfv8iM8rlGUiVduuJQGcTazyiw+7PSxEMGuPzk+sW8KLZiSh5TrkCNTbjpNVL1o7grRlXTN+OQLEFuYGVxg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
    .section {
        overflow-y: auto  !important;
        overflow-x: hidden !important;
        height: 100%;
    }
    .reveal {
        width: 50vw;
        height: 30vw
    }
    @media only screen and (max-width: 1024px) {
        .reveal {
            width: 90vw;
            height: 80vw
        }
    }
</style>

<div class="reveal">
    <div class="slides">
    {{range split $slides ","}}
    <section id="slide-{{.}}"></section>
    {{end}}
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        let slides = {{ $slides }}.split(",")
        slides.forEach(element => {
            $("#slide-" + element).append($("#slide" + element).html());
        });
       
        $("#slideAudio").attr('src', $("#slide" + slides[0]).attr("data-audio"))
        
        Reveal.initialize({ embedded: true, showNotes: true, center: true, margin: 0.0, plugins: [ RevealNotes ] });

        Reveal.addEventListener( 'slidechanged', event => {
            $('audio').each(function(){
                this.pause(); // Stop playing
                this.currentTime = 0; // Reset time
            }); 
            try {
                $("#slideAudio").attr('src', $("#slide" + slides[event.indexh]).attr("data-audio"))
            } catch {

            }
            
        } );
    });
</script>