{{ $effects := .Get "effects" }}
{{ $animate := .Get "animate" }}
{{ $path := .Get "path" }}
<style>

    #scene-animation-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    #scene-animation-container svg {
      display:block;
      max-width:100%;
      overflow:visible;
      z-index: -100;
      width: 100%;
        height: 100%;
    }
    
    .roundSmall,
    .roundMedium,
    .roundLarge {
            background: #fff;
            border-radius: 50%;
            position: absolute;
            width: 3px;
            height: 3px;
    }
    .roundMedium {
            width: 4px;
            height: 4px;
    }
    .roundLarge {
            width: 5px;
            height: 5px;
    }
    
    .starMedium {
        position: absolute;
            width: 16px;
            height: 16px;
    }
    
    .sharpLarge {
        position: absolute;
            width: 30px;
            height: 30px;
    }
    
    .container, .snow {
        width: 100%;
        height: 100%;
    }
    
</style>

<div id="scene-animation-container">
{{ .Inner | markdownify }}
</div>

<script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
<script src="https://unpkg.com/gsap@3/dist/MotionPathPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"></script>

<script>
         window.snow = {{ $effects }}.indexOf("snow") >= 0;

        gsap.registerPlugin(MotionPathPlugin);
const targets = [ document.getElementById({{ $animate }}) ];
const dur = 30;

targets.forEach((obj, i) => {
  gsap
    .timeline({ defaults: { ease: "none" }, repeat: -1 })
    .to(obj, {
      duration: dur,
      motionPath: {
        path: "#" + {{ $path }},
        align: "#" + {{ $path }},
        alignOrigin: [0.5, 0.75],
        start: 1.26,
        end: 0.26
      }
    })
    .to(
      obj,
      {
        scale: 0.15,
        duration: dur / 2,
        repeat: 1,
        yoyo: true,
        ease: "sine.inOut"
      },
      0
    )
    .progress(i * (1 / targets.length));
});

$(document).ready(documentReady);

function documentReady() {
  var MAX_SNOW = 200;
  var MAX_SNOW_SIZE = 30;
  var MAX_SNOW_SPEED = 1;

  window.snowStop = () => {
      document.querySelectorAll('.flake').forEach(item => item.remove());
  }

  window.snowStart = () => {
    createSnows();
  }

  if ( window.snow ) {
   window.snowStart();
  }
 

  function createSnows() {

    var container = $("#scene-animation-container");

    for (var i = 0; i < MAX_SNOW; i++) {
      var appendItem = getRandomItem(container, i);
              container.append(appendItem);
      var animateItem = $(".snow" + String(i));
      var randomTime = Math.random() * MAX_SNOW_SPEED;
      if ( window.snow ) {
         goAnimate(animateItem, i, randomTime);
         goAnimate2(animateItem);
      }
      
    };
  }

  function goAnimate(item, id, randomTime) {
      if ( ! window.snow ) {
         window.snowStop
         return;
      } 
    TweenMax.to(item, randomTime, {
      css: {
        marginTop: "+=100"
      },
      ease: Linear.easeNone,
      onComplete: function() {
        var topPosition = item.css("margin-top").replace("px", "");
        if (topPosition > $(window).height()) {
          changePosition(item);
          randomTime = Math.random() * MAX_SNOW_SPEED;
          goAnimate(item, id, randomTime);
        } else {
          goAnimate(item, id, randomTime);
        }

      }
    });
  }

  function goAnimate2(item) {
   if ( ! window.snow ) {
      window.snowStop
      return;
   }
    var directionTime = 1 + Math.floor(Math.random() * 5);
    var randomDirection = 1 + Math.floor(Math.random() * 4);
    var delayTime = 1 + Math.floor(Math.random() * 3);

    if (randomDirection == 1) {

      TweenMax.to(item, directionTime, {
        css: {
          marginLeft: "+=100"
        },
        ease: Linear.easeOut,
        onComplete: function() {

          TweenMax.to(item, directionTime, {
            css: {
              marginLeft: "-=100"
            },
            delay: delayTime,
            ease: Linear.easeOut,
            onComplete: function() {
              goAnimate2(item);
            }
          });
        }
      });
    } else if (randomDirection == 2) {

      TweenMax.to(item, directionTime, {
        css: {
          marginLeft: "-=100"
        },
        ease: Linear.easeOut,
        onComplete: function() {
          TweenMax.to(item, directionTime, {
            css: {
              marginLeft: "+=100"
            },
            delay: delayTime,
            ease: Linear.easeOut,
            onComplete: function() {

              goAnimate2(item);

            }
          });
        }
      });
    } else if (randomDirection == 3) {

      TweenMax.to(item, directionTime, {
        css: {
          marginLeft: "+=100"
        },
        ease: Linear.easeOut,
        onComplete: function() {
          goAnimate2(item);
        }
      });
    } else if (randomDirection == 4) {

      TweenMax.to(item, directionTime, {
        css: {
          marginLeft: "-=100"
        },
        ease: Linear.easeOut,
        onComplete: function() {
          goAnimate2(item);
        }
      });
    }
  }

  function changePosition(item) {
    var _width = Math.floor(Math.random() * MAX_SNOW_SIZE);
    var _height = _width;
    var _blur = Math.floor(Math.random() * 5 + 2);
    var _left = Math.floor(Math.random() * ($(window).width() - _width));
    var _top = -$(window).height() + Math.floor(Math.random() * ($(window).height() - _height));

    item.css("width", _width);
    item.css("height", _height);
    item.css("margin-left", _left);
    item.css("margin-top", _top);
    item.css("-webkit-filter", "blur(" + String(_blur) + "px)");
    item.css("-moz-filter", "blur(" + String(_blur) + "px)");
    item.css("-o-filter", "blur(" + String(_blur) + "px)");
    item.css("-ms-filter", "blur(" + String(_blur) + "px)");
    item.css("filter", "blur(" + String(_blur) + "px)");
  }

  function getRandomItem(container, id) {
    var _width = Math.floor(Math.random() * MAX_SNOW_SIZE);
    var _height = _width;
    var _blur = Math.floor(Math.random() * 5 + 2);
    var _left = Math.floor(Math.random() * ($(window).width() - _width));
    var top = container.offset().top
    var _top = Math.max(top, top + -$(window).height() + Math.floor(Math.random() * ($(window).height() - _height)));
    var _id = id;

    return getSmallSnow(_width, _height, _blur, _left, _top, _id);
  }

  function getSmallSnow(width, height, blur, left, top, id) {
    var item = "<div class='snow" + id + " flake' style='position:absolute; margin-left: " + left + "px; margin-top: " + top + "px; width: " + width + "px; height: " + height + "px; border-radius: 50%; background-color: white; -webkit-filter: blur(" + blur + "px); -moz-filter: blur(" + blur + "px); -o-filter: blur(" + blur + "px); -ms-filter: blur(" + blur + "px); filter: blur(" + blur + "px);'></div>"
    return item;
  }

}

</script>