{{ $id := .Get "id" }}
{{ $audio := .Get "audio" }}
{{ $description := .Get "description" }}
{{ $image := .Get "image" }}
{{ $localImage := .Get "localImage" }}
{{ $video := .Get "video" }}
{{ $cdnVideo := .Get "cdnVideo" }}
{{ $cdnVtt := .Get "cdnVtt" }}

<style>
.videoControls button[data-state="subtitles"] {
  height: 85%;
  text-indent: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  color: #666;
  background: #000;
  border-radius: 2px;
}
.subtitles-menu {
  display: none;
  position: absolute;
  bottom: 14.8%;
  right: 20px;
  background: #666;
  list-style-type: none;
  margin: 0;
  width: 100px;
  padding: 10px;
}

.subtitles-menu li {
  padding: 0;
  text-align: center;
}

.subtitles-menu li button {
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  width: 90%;
  padding: 2px 5px;
  border-radius: 2px;
}
</style>

<div id="{{ $id }}" class="page" data-audio="https://powercat-automation-kit.azureedge.net/{{ $audio }}">

    {{ if gt (len $cdnVideo) 0 }}
        <div id="videoContainer">
            <video width="860" height="540" controls>
                <source src="https://powercat-automation-kit.azureedge.net/{{ $cdnVideo }}" type="video/mp4"/>
                {{ if gt (len $cdnVtt) 0 }}
                <track
                    label="English"
                    kind="subtitles"
                    srclang="en"
                    mode="showing"
                    src="/vtt/{{ $cdnVtt }}"
                    default />
                {{ end }}
                Your browser does not support the video tag.
            </video>
        </div>
    {{ else }}
        {{ if gt (len $video) 0 }}
        <iframe width="860" height="540" src="https://www.youtube-nocookie.com/embed/{{ $video }}" title="{{ $description }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {{ else }}
            {{ if gt (len $image) 0 }}
            <img src="https://powercat-automation-kit.azureedge.net/{{ $image }}" alt="{{ $description }}"/>
            {{ end }}
            {{ if gt (len $localImage) 0 }}
            <img src="{{ $localImage }}" alt="{{ $description }}"/>
            {{ end }}
        {{ end }}
    {{ end }}
    
    <aside class="notes">

    {{ .Inner | markdownify }}
    
    </aside>
    
</div>