/* themed tokens */
/*
  Your use of the content in the files referenced here is subject to the terms of the license at http://aka.ms/fabric-assets-license
*/
/* Theme related color values */
/* Natural Colors */
/* Base Colors */
/** Black #000 **/
/** Blue #0078d7 **/
/** Green #107c10 **/
/** Green #b4009e **/
/** Orange #d83b01 **/
/** Purble #5c2d91 **/
/** Red #e81123 **/
/*** Teal ***/
/** White **/
/** Yellow **/
/* State Colors */
/** Alerts **/
/** Error **/
/** Info ***/
/** Warning **/
/** Server Warning **/
/** Success **/
/* Misc Colors */

.KpyS_p_U_gutzlzTANod {
  background-color: white;
  border-radius: 0;
  color: "[theme:themePrimary, default: #0078d4]";
  opacity: 1;
  border-width: "1.1px";
  border-style: "solid";
  border-color: "[theme:themePrimary, default: #0078d4]";
  border-left-width: "6px";
  display: "block";
}

/* Added styles for days within the same month/week */
.VGtuuPPrwBAlXQ8KGenO {
  background-color: "[theme:primaryBackground, default:#0078d7]";
  border-radius: "0px";
  opacity: 0.8;
  color: "[theme:themeAccent, default:inherit]";
  border: "0px";
  display: "block";
}

.qAHByH4y54Ly1tana1zs {
  width: "100%";
  height: "100%";
}

._iCrp10O0EGktuYTXAZg {
  justify-content: "center";
  display: "flex";
  align-items: "center";
  font-size: 32px;
}

.sJ6uON6HEoj7SPBRLcd4 {
  justify-content: "center";
  display: "flex";
  align-items: "top";
  font-size: 22px;
  margin-top: 10px;
}

.cMNVzQYw4sspOp86ShlN {
  justify-content: "center";
  display: "flex";
  align-items: "top";
}

.deS34vCTjYgSxIYadsFQ {
  background-color: #f2f2f2;
  border-style: "solid";
  border-width: 1.3px;
  border-color: #e6e6e6;
  height: auto;
  justify-content: "center";
  display: "flex";
  align-items: "top";
}

.k0P0VbHvf6kaoSjBN1FZ {
  background-color: white;
  border-radius: "0px";
  opacity: 1;
  color: black;
  border-width: 1.4px;
  border-style: "solid";
  display: "block";
}

.dYciRpREwEZjr9ZdXBxF {
  font-weight: 600;
  height: "100%";
  text-overflow: ellipsis;
  display: "flex";
  justify-content: "center";
}

.i06NDd5QNMkIIv9XpoUL {
  padding-top: 10px;
  justify-content: "center";
  display: "flex";
  align-items: "top";
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.weRprBFlg8oXNrSvlPGn .XaIbBPUOzg9hSk9HFzJn {
  max-width: 100%;
  min-height: 400px;
  height: 600px;
  margin: 0 auto;
}
.weRprBFlg8oXNrSvlPGn ._UQxrwcN06RjFQ6rmglb {
  width: 300;
  height: 286;
}
.weRprBFlg8oXNrSvlPGn .CL2TH8OG5YAHoSALCjyB {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.weRprBFlg8oXNrSvlPGn .ygHCrvXMc4oUHiaj42cm {
  margin: 0 -8px;
  box-sizing: border-box;
  zoom: 1;
  color: "[theme:white, default: #ffffff]";
  background-color: "[theme:themeDark, default: #005a9e]";
  padding: 20px;
  border-style: solid;
}
.weRprBFlg8oXNrSvlPGn .ygHCrvXMc4oUHiaj42cm::before, .weRprBFlg8oXNrSvlPGn .ygHCrvXMc4oUHiaj42cm::after {
  display: table;
  content: "";
  line-height: 0;
}
.weRprBFlg8oXNrSvlPGn .ygHCrvXMc4oUHiaj42cm::after {
  clear: both;
}
.weRprBFlg8oXNrSvlPGn .CsRvRJfSv_xZdvaB_Ux8 {
  position: relative;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}
[dir=ltr] .weRprBFlg8oXNrSvlPGn .CsRvRJfSv_xZdvaB_Ux8 {
  float: left;
}
[dir=rtl] .weRprBFlg8oXNrSvlPGn .CsRvRJfSv_xZdvaB_Ux8 {
  float: right;
}
.weRprBFlg8oXNrSvlPGn .CsRvRJfSv_xZdvaB_Ux8 .c0ljXO0Ji_A_MEazttuq {
  padding: 0;
}
@media (min-width: 640px) {
  .weRprBFlg8oXNrSvlPGn .CsRvRJfSv_xZdvaB_Ux8 {
    width: 83.3333333333%;
  }
}
@media (min-width: 1024px) {
  .weRprBFlg8oXNrSvlPGn .CsRvRJfSv_xZdvaB_Ux8 {
    width: 66.6666666667%;
  }
}
@media (min-width: 1024px) {
  [dir=ltr] .weRprBFlg8oXNrSvlPGn .CsRvRJfSv_xZdvaB_Ux8 {
    left: 16.6666666667%;
  }
  [dir=rtl] .weRprBFlg8oXNrSvlPGn .CsRvRJfSv_xZdvaB_Ux8 {
    right: 16.6666666667%;
  }
}
@media (min-width: 640px) {
  [dir=ltr] .weRprBFlg8oXNrSvlPGn .CsRvRJfSv_xZdvaB_Ux8 {
    left: 8.3333333333%;
  }
  [dir=rtl] .weRprBFlg8oXNrSvlPGn .CsRvRJfSv_xZdvaB_Ux8 {
    right: 8.3333333333%;
  }
}
.weRprBFlg8oXNrSvlPGn .ZtAQjHzs9xD6dPttPLt3 {
  font-size: 21px;
  font-weight: 100;
  color: "[theme:white, default: #ffffff]";
}
.weRprBFlg8oXNrSvlPGn .bIpDsNR66mRAupjBpkZG {
  font-size: 17px;
  font-weight: 300;
  color: "[theme:white, default: #ffffff]";
}
.weRprBFlg8oXNrSvlPGn .s8X5eXmKI_Ca3LrHn9Nx {
  font-size: 17px;
  font-weight: 300;
  color: "[theme:white, default: #ffffff]";
}
.weRprBFlg8oXNrSvlPGn .EJskEEnUQef2CsoSptr6 {
  text-decoration: none;
  height: 32px;
  min-width: 80px;
  background-color: "[theme:themePrimary, default: #0078d4]";
  border-color: "[theme:themePrimary, default: #0078d4]";
  color: "[theme:white, default: #ffffff]";
  outline: transparent;
  position: relative;
  font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  border-width: 0;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 0 16px;
}
.weRprBFlg8oXNrSvlPGn .EJskEEnUQef2CsoSptr6 .UrJkSM07OjT1NUGXQum2 {
  font-weight: 600;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  margin: 0 4px;
  vertical-align: top;
  display: inline-block;
}